/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
p {
    font-display: Behavior;
}

h1 {
    font-family: 'Turret Road', cursive;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}